# SPDX-FileCopyrightText: 2020-2021 Álvaro Cebrián Juan <acebrianjuan@gmail.com>
# SPDX-License-Identifier: GPL-3.0-or-later

[Desktop Entry]
Type=Application
Name=astmops
Exec=astmops
Icon=icon
Categories=Science;NumericalAnalysis;
Terminal=true
X-AppImage-Version=1
